{% spaceless %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/favicon.ico" type="image/x-icon">
      <link rel="icon" type="image/png" href="/favicon-16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/favicon-196.png" sizes="196x196">
      <link rel="icon" type="image/png" href="/favicon-160.png" sizes="196x160">
      <link rel="icon" type="image/png" href="/favicon-32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="/favicon-64.png" sizes="64x64">
      <link rel="icon" type="image/png" href="/favicon-96.png" sizes="96x96">

      {% if tk_id %}
        <script type="text/javascript" src="//use.typekit.net/{{ tk_id }}.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      {% endif %}

      <meta charset="utf-8">
      <meta http-equiv="content-type" content="text/html;charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% if meta_description %}
        <meta name="description" content="{{ meta_description }}">
      {% endif %}
      <meta name="author" content="{{ project_title }}">
      <title>{% if title %}{{ title }} | {% endif %}{{ project_title }}</title>
      <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
      <![endif]-->
      {% if layout_assets_css %}
        {% for url in layout_assets_css %}
          <link href="{{ url }}" rel="stylesheet" type="text/css">
        {% endfor %}
      {% endif %}

      {% if assets_css %}
        {% for url in assets_css %}
          <link href="{{ url }}" rel="stylesheet" type="text/css">
        {% endfor %}
      {% endif %}

      {% if local_css %}
        <style type="text/css">
          {{ css }}
        </style>
      {% endif %}

      {% block head %}{% endblock %}

    </head>
    <body{% if nav_hide %} class="no-nav"{% endif %} id="page-{{ controller }}-{{ action }}">

      {{ before_body }}

      <main id="content" role="main">
        {% block body %}
          {{ body }}
        {% endblock %}
      </main>

      {{ after_body }}

      {% if layout_assets_js %}
        {% for url in layout_assets_js %}
          <script src="{{ url }}"></script>
        {% endfor %}
      {% endif %}

      {% if assets_js %}
        {% for url in assets_js %}
          <script src="{{ url }}"></script>
        {% endfor %}
      {% endif %}

      {% block script %}
        {% if local_js %}
          <script type="text/javascript">
            {{ js }}
          </script>
        {% endif %}
      {% endblock %}

      <script>
        if (typeof jQuery === 'undefined')
        {
            document.write(unescape("%3Cscript src='/bower/jquery/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
        }
      </script>

      <script type="text/javascript">
        {% if ga_id %}
          (function(e,t,n,r,i,s,o){e["GoogleAnalyticsObject"]=i;e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date;s=t.createElement(n),o=t.getElementsByTagName(n)[0];s.async=1;s.src=r;o.parentNode.insertBefore(s,o)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","{{ ga_id }}","{{ ga_domain }}");ga("send","pageview");
        {% endif %}
      </script>

    </body>
  </html>
{% endspaceless %}